<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindSquad</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="homepage.css">
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="universal.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <nav>
                <div class="nav-item logo-div">
                    <img src="findSquadLogo.png" alt="" class="image-logo">
                    <h1>FindSquad</h1>
                </div>
                <div>
                    <input type="text" v-model="pesquisa" placeholder="Pesquisar Jogo" class="pesquisa-input">
                </div>
                <div class="nav-item">
                    <div class="nav-buttons">
                        <div v-if="!adm">
                            <button @click="goToMatchPage">Criar Partida</button>
                            <button @click="goToPerfilpage">Editar Perfil</button>
                        </div>
                        <div v-else>
                            <button @click="goToGamepage">Cadastrar Jogo</button>
                        </div>
                        <button @click="goToMatchCreatedPage">Partidas Criadas</button>
                        <button @click="goToLoginPage">Sair</button>
                    </div>
                    <img src="" alt="">
                </div>
            </nav>
            <main>

                <div class="image-grid">
                    <div class="image-item" v-for="image in pesquisarJogo" :key="image.id">
                        <img :src="image.url" :alt="image.name" class="grid-image">

                        <div class="button-wrapper">
                            <button class="find-match-button">Achar Partida</button>
                            <button class="create-group-button">Criar Grupo</button>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <script src="./app-bar.vue"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyAr_yIp92mmpkHX7zNLP5WUTkx14eA2AkU",
            authDomain: "framework-projeto.firebaseapp.com",
            projectId: "framework-projeto",
            storageBucket: "framework-projeto.appspot.com",
            messagingSenderId: "993763304196",
            appId: "1:993763304196:web:7834f07f8a600f72742651",
            measurementId: "G-97PCHY8ZPC"
        };

        firebase.initializeApp(firebaseConfig);
        const storage = firebase.storage();
        const db = firebase.firestore();
        const auth = firebase.auth();

        new Vue({
            el: '#app',
            data() {
                return {
                    images: [],
                    pesquisa: '',
                    partidas: {},
                    adm: false,
                };
            },
            mounted() {
                this.loadImages();
                // this.carregarPartidas();
                auth.onAuthStateChanged((user) => {
                    if (user) {
                        const uid = user.uid;
                        console.log(uid);
                        db.collection("users").doc(uid).get().then((user) => {
                            console.log(user.data());
                            this.adm = user.data().adm;
                        })
                    }
                })
            },
            computed: {
                pesquisarJogo() {
                    return this.images.filter(image => {
                        return image.name.toLowerCase().includes(this.pesquisa);
                    })
                }
            },
            methods: {
                loadImages() {
                    const storageRef = storage.ref();

                    storageRef.listAll()
                        .then((res) => {

                            const imagePromises = res.items.map((item) =>
                                item.getDownloadURL()
                                    .then((url) => {
                                        return {
                                            name: item.name,
                                            url: url
                                        };
                                    })
                            );
                            Promise.all(imagePromises)
                                .then((images) => {
                                    this.images = images;
                                })
                                .catch((error) => {
                                    console.error('Erro ao obter URLs das imagens:', error);
                                });

                        })
                        .catch((error) => {

                            console.error('Erro ao listar imagens:', error);
                        });
                },
                goToLoginPage() {
                    auth.signOut().then(() => {
                        window.location.href = 'index.html';
                    }).catch(error => {
                        console.error("Erro ao fazer logout:", error);
                    });
                },
                goToMatchCreatedPage() {
                    window.location.href = 'partidas_criadas.html';
                },
                getUsername(uid) {
                    const db = firebase.firestore();
                    return db
                        .collection("users")
                        .doc(uid)
                        .get()
                        .then(doc => {
                            if (doc.exists) {
                                return doc.data().username;
                            } else {
                                return "Usuário não encontrado";
                            }
                        })
                        .catch(error => {
                            console.error("Erro ao buscar usuário:", error);
                        });
                },
                goToMatchPage() {
                    window.location.href = 'partida.html';
                },
                goToGamepage() {
                    window.location.href = 'game.html';
                },
                // carregarPartidas() {
                //     const db = firebase.firestore();
                //     db.collection("matches")
                //         .get()
                //         .then(querySnapshot => {
                //             querySnapshot.forEach(async doc => {
                //                 const partida = doc.data();
                //                 partida.creatorUsername = await this.getUsername(partida.creator);
                //                 partida.gameName = await this.getGame(partida.game);
                //                 this.partidas[doc.id] = partida;
                //             });

                //             // console.log(this.partidas);
                //         })
                //         .catch(error => {
                //             console.error("Erro ao carregar as partidas:", error);
                //         });
                // },

                getGame(gameId) {
                    return db
                        .collection("games")
                        .doc(gameId)
                        .get()
                        .then(doc => {
                            if (doc.exists) {
                                return doc.data().game;
                            } else {
                                return "Jogo não encontrado";
                            }
                        })
                        .catch(error => {
                            console.error("Erro ao buscar jogo:", error);
                        });
                },

                goToPerfilpage() {
                    window.location.href = 'perfil.html';
                }
            }
        });
    </script>
</body>

</html>